/* Variables */
:root {
  --color1: #000000;
  --color2: #232323;
  --color3: #666666;
}
/* Fonts */
@font-face {
  font-family: inter;
  src: url("./../public/Inter-ExtraLight.ttf");
}

/* General: Default layout */
* {
  margin: 0em;
  padding: 0em;
}
/* General: Main Containers */
body {
  background-color: #141414;
  color: white;
  font-family: inter, sans-serif;
}

/* App */
div#app {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Header */
div#header {
  background-color: var(--color2);
  width: 90%;
  border-radius: 1em;

  margin-top: 1em;

  display: flex;
  flex-direction: row;
  align-items: center;
}
/* Header: Title Container */
div#title-container {
  width: 70%;
  
  padding: 1em;
}
/* Header: Title */
/* Header: Subtitle */
div#title-container > p {
  margin-top: 0.5em;
}

/* Header: Image Container */
div#image-container {
  width: 25%;
  max-height: 4em;
  overflow: hidden;

  margin-right: 1em;

  display: flex;
  flex-direction: row;
  align-items: center;
}
/* Header: Image */

/* Display */
div#display {
  background-color: var(--color2);
  border-radius: 1em;
  width: 90%;

  margin-top: 1em;

  overflow: hidden;
}
/* Display: Video */
div#display > video {
  width: 200%;
  height: auto;
}

/* Footer */
div#footer {
  background-color: var(--color1);
  width: 100%;
  height: 5em;

  position: sticky;
  bottom: 0em;
  margin-top: 1em;

  display: flex;
  flex-direction: column;
  align-items: center;
}
/* Footer: Controls Container */
div#controls-container {
  width: 90%;
  height: 3em;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
/* Footer: Controls Container Inner */
div#controls-container > div {
  width: 20%;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

/* Footer: Play Button */
div#controls-container > div > #play {
  color: white;
  width: 3em;
  height: 3em;
}
div#controls-container > div > #play:hover {
  color: rgba(255, 255, 255, 0.8);
}
div#controls-container > div > #play:active {
  color: white;
}

/* Footer: Left Button */
div#controls-container > div > #left {
  color: white;
  width: 2em;
  height: 2em;
}
div#controls-container > div > #left:hover {
  color: rgba(255, 255, 255, 0.8);
}
div#controls-container > div > #left:active {
  color: white;
}

/* Footer: Right Button */
div#controls-container > div > #right {
  color: white;
  width: 2em;
  height: 2em;
}
div#controls-container > div > #right:hover {
  color: rgba(255, 255, 255, 0.8);
}
div#controls-container > div > #right:active {
  color: white;
}

/* Footer: Album 5 Button */
div#controls-container > a > button {
  background-color: rgba(255, 255, 255, 0);
  font-family: inter, sans-serif;
  font-size: 1em;
  color: white;
  border: 2px solid white;

  padding: 0.2em;
}
div#controls-container > a > button:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
div#controls-container > a > button:active {
  background-color: rgba(255, 255, 255, 0.4);
}


/* Footer: Back Button Container */
div#controls-container > a {
  width: 2em;
  height: 2em;
  color: white;
}
div#controls-container > a:hover {
  color: lightblue;
}
div#controls-container > a:active {
  color: white;
}
/* Footer: Back Button */
div#controls-container > a > #back {
  width: 100%;
  height: 100%;
}

/* Footer: Input */
div#footer > input {
  width: 30%;
}